.ant-breadcrumb{
  color: #E2B578;
  border-color: #E2B578 ;
}
.ant-breadcrumb-link{
 color: #E2B578;
  a{
    color:#E2B578 ;
    &:hover{
      color: #E4C08F;
    }
    &:active{
      color: #CE9C58;
    }
  }
}
.ant-breadcrumb-separator{
    color:#E2B578;
}
