
html[data-theme='dark'] {
  .ant-input{
    color: #ffffff;
  }
  .ant-input-focused, .ant-input:focus{
    box-shadow: none;
  }
  .ant-input, .ant-input-affix-wrapper, .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child{
    border-color: #434343;
  }
}
.anticon.ant-input-clear-icon{
  color: #E2B578;
}
.ant-input{
  // color: #BBBAB9;
  height: 40px;
}
.ant-input, .ant-input-affix-wrapper{
  background-color: transparent;
  border-radius: 8px;
  border-color: #EBEBEB;
}
.ant-input-affix-wrapper{
  padding-top: 0px;
  padding-bottom: 0px;
  height: 42px;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
  border-color: #B2B2B2;
}
.ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:focus{
  box-shadow: none;
  border-color: #E2B578;
}

.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper, 
.ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover, 
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input, 
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover, 
.ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper, 
.ant-form-item-has-error :not(.ant-input-number-affix-wrapper-disabled):not(.ant-input-number-affix-wrapper-borderless).ant-input-number-affix-wrapper:hover{
  border-color: #F52222;
  background-color: transparent;
  box-shadow: none;
}
.ant-form-item-explain-error{
  color: #FF4A4A;
}
.ant-input[disabled]{
  background-color: transparent;
}
.ant-input[disabled]:hover{
  border-color: #E2B578;
}
.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child){
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child{
  border: 1px solid #EBEBEB;
}
.ant-input-group-addon{
  background: rgba(226,181,120,0.1);
  border-radius: 0px 8px 8px 0px;
  width: 54px;
}
.ant-input-search-button,.ant-input-search-button:hover,.ant-input-search-button:active{
  background-color: transparent;
  border-color:  transparent;
}
.ant-input-search .ant-input:focus+.ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary), 
.ant-input-search .ant-input:hover+.ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary){
  border-left-color: transparent;
}
.anticon-search{
  color: #E2B578;
  svg{
    width: 20px;
    height: 20px;
  }
}